@model Notification

<div class="notifications">
    <div class="notification-item-container" data-id="@Model.Id">
        <img class="image" src="@Model.Image" />
        <div class="message">@Model.Message</div>
        <div class="time" data.created="@Model.CreateDate.ToString("s")">@Model.CreateDate</div>
        <button class="btn btn-close" onclick="dismissNotification('@Model.Id')"></button>
    </div>
</div>
