@model Project

<div id="projectCard" class="card">
    <div class="project-card-header">
        <img class="project-image" src="~/Images/Projects/@Model.Image" alt="Card Image" />

        <span class="project-title">@Model.ProjectName</span>
        <span class="project-description">@Model.Client.ClientName</span>

        <button class="project-menu-btn">
            <img src="~/Images/ButtonImages/two_dots.svg" alt="Card Menu Button Image" />
        </button>
    </div>
    <main class="card-body">
        <p id="project-description">@Html.Raw(Model.Description)</p>
    </main>
    <footer class="card-footer">
        <div class="time-left">
            <i class="bi bi-clock-fill"></i>
            <div class="end-time" data-enddate="@Model.EndDate?.ToString("s")">@Model.EndDate</div>
        </div>

        <img class="project-card-profile-image" src="~/Images/Profiles/@Model.User.Image" />
    </footer>
</div>